<footer class="main-footer">
    
    <nav class="main-navbar">
      <ul class="list-navbar">
        <li><a href="views/aboutUs.html">Crea tu cuenta</a></li>
        <li><a href="views/menu.html">Ingresa</a></li>
        <li><a href="views/compras.html">Mis Compras</a></li>
      </ul>
    </nav>


    <nav class="social-links">
        <ul class="links-list">
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/home">Twitter</a></li>
        </ul>
    </nav>
  </footer>