<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <title>Donde nos encontras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/public/img/sucursales.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="containerHeader">
        <header id="miHeaderDinamico">
        </header>

        <div class="miContenedorUbicacion">
            <div>
                <h3 id="miUbicacion">Donde estamos</h3>
            </div>
            <div><label for="miSucursal">Seleccione Sucursal</label>
                <select id="miSucursal" name="miSucursal">
      <option value="1" selected>Buenos Aires</option>
      <option value="2">La Plata</option>
      <option value="3">Quilmes</option>
      <option value="4">Berazategui</option>
    </select>
            </div>
        </div>

        <div class="miFrame">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210146.68270007908!2d-58.573732241947475!3d-34.61574328954111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1665357582086!5m2!1ses-419!2sar"
                id="miIframe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div id="miCardClima">
            <h3>Clima actual en la sucursal: </h3>
            <img src="" id="miImagenClima">
            <p class="card-text" id="miClimaActual"></p>
        </div>



        <footer id="miFooterDinamico">
        </footer>

    </div>
</body>

<script src="/app.js"></script>
<script src="/public/js/api.js"></script>

</html>