<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <title>Decinos lo que quieras</title>
    <!-- Solo este html tiene bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Agregamos sweet alert para mejorar la pagina -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/public/img/contacto.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="containerHeader">
        <header id="miHeaderDinamico">
        </header>

        <form class="row g-3" id="miFormContacto" novalidate action="https://formspree.io/f/xoqbkpdn" method="POST">
            <div class="col-md-8">
                <label for="miEmailComentarios" class="form-label">Tu mail</label>
                <input type="email" class="form-control" id="miEmailComentarios" name="emailComentarios">
            </div>
            <div class="col-md-8">
                <label for="miNombreComentarios" class="form-label">Tu nombre</label>
                <input type="text" class="form-control" id="miNombreComentarios" name="nombreComentarios">
            </div>
            <div class="col-md-8">
                <label for="miApellidoComentarios" class="form-label">Tu apellido</label>
                <input type="text" class="form-control" id="miApellidoComentarios" name="apellidoComentarios">
            </div>
            <div class="col-md-8">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" placeholder="Tus comentarios aqui" id="mensaje" name="comentarios"></textarea>
            </div>
            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="miSuscripcion" name="suscripcion">
                    <label class="form-check-label" for="suscribirme">
             Suscribirme a las novedades
            </label>
                </div>
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-success" id="miBotonComentarios">Comentar</button>
            </div>
        </form>
        <!--     <div class="miContenedor ">
        <div class="miForm">
            <form action="" method="" class="miContacto">
                <ul>
                    <li>
                        <label for="nombre" class="miEtiquetaContacto">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre aqui">
                    </li>
                    <li>
                        <label for="mail" class="miEtiquetaContacto">Correo electrónico:</label>
                        <input type="email" id="mail" name="email" placeholder="Tu email aqui">
                    </li>
                    <li>
                        <label for="comentario" class="miEtiquetaContacto">Tu comentario:</label>
                        <textarea id="msg" name="comentario" placeholder="Lo que quieras decirnos"></textarea>
                    </li>
                </ul>
                <button class="miBotonEnviar">Enviar</button>
            </form>
        </div>
         </div>
 -->
        <footer id="miFooterDinamico">
            <!-- <a href="https://www.w3schools.com/">Visit W3Schools.com!</a> para agregar dp contactos fake -->
        </footer>
    </div>
</body>

<!-- Solo este html tiene bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<script src="/app.js"></script>
<script src="/public/js/validaciones.js"></script>

</html>