<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <title>Menu de Delicias</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/public/img/menu.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>


<body>
    <div class="containerHeader">
        <header id="miHeaderDinamico">
        </header>

        <div class="overlay">
            <div class="slideshow">
                <span class="btnCerrar">&times;</span>
                <img src="" alt="" id="miMarco">
            </div>
        </div>


        <div class="galeria">
            <div class="columna">
                <img src="/public/img/1.jpg" alt="" data-img-mostrar="0">
                <img src="/public/img/2.jpg" alt="" data-img-mostrar="1">
                <img src="/public/img/3.jpg" alt="" data-img-mostrar="2">
                <img src="/public/img/4.jpg" alt="" data-img-mostrar="3">
            </div>
            <div class="columna">
                <img src="/public/img/5.jpg" alt="" data-img-mostrar="4">
                <img src="/public/img/6.jpg" alt="" data-img-mostrar="5">
                <img src="/public/img/7.jpg" alt="" data-img-mostrar="6">
                <img src="/public/img/8.jpg" alt="" data-img-mostrar="7">
            </div>
            <div class="columna">
                <img src="/public/img/9.jpg" alt="" data-img-mostrar="8">
                <img src="/public/img/10.jpg" alt="" data-img-mostrar="9">
                <img src="/public/img/11.jpg" alt="" data-img-mostrar="10">
                <img src="/public/img/12.jpg" alt="" data-img-mostrar="11">
            </div>
            <div class="columna">
                <img src="/public/img/13.jpg" alt="" data-img-mostrar="12">
                <img src="/public/img/14.jpg" alt="" data-img-mostrar="13">
                <img src="/public/img/15.jpg" alt="" data-img-mostrar="14">
                <img src="/public/img/16.jpg" alt="" data-img-mostrar="15">
            </div>
            <div class="columna">
                <img src="/public/img/17.jpg" alt="" data-img-mostrar="16">
                <img src="/public/img/18.jpg" alt="" data-img-mostrar="17">
                <img src="/public/img/19.jpg" alt="" data-img-mostrar="18">
                <img src="/public/img/20.jpg" alt="" data-img-mostrar="19">
            </div>


        </div>



        <footer id="miFooterDinamico">
        </footer>
    </div>

</body>

<script src="/app.js"></script>
<script src="/public/js/menu.js"></script>

</html>