<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <title>Elegi donde te esperamos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/public/img/reservas.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Freehand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shalimar&display=swap" rel="stylesheet">
</head>

<body>

</body>
<div class="containerHeader">
    <header id="miHeaderDinamico">
    </header>

    <div class="containerReservas">
        <h3>TU RESERVA</h3>
        <form class="formReservas" id="formReservas" action="https://formspree.io/f/mdojwpka" method="POST">
            <ul>
                <li><label for="nomber">Tu nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </li>
                <li>
                    <label for="personas">Comensales</label>
                    <select id="personas" name="personas">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </li>
                <li>
                    <label for="sucursal">Sucursal</label>
                    <select id="sucursal" name="sucursal">
                        <option value="Buenos Aires">Buenos Aires</option>
                        <option value="La Plata">La Plata</option>
                        <option value="Quilmes">Quilmes</option>
                        <option value="Berazategui">Berazategui</option>
                    </select>
                </li>
                <li>
                    <label for="horario">Horario</label>
                    <select id="horario" name="horario">
                        <option value="1">16:30</option>
                        <option value="2">17:00</option>
                        <option value="3">17:30</option>
                        <option value="4">18:00</option>
                    </select>
                </li>
            </ul>
            <h3></h3>
            <button type="button" id="botonReservas">RESERVAR</button>
            <h3></h3>
        </form>
    </div>

    <footer id="miFooterDinamico">
        <!-- <a href="https://www.w3schools.com/">Visit W3Schools.com!</a> para agregar dp contactos fake -->
    </footer>
</div>
<script src="/app.js"></script>
<script src="/public/js/validaciones.js"></script>

</html>